:root {
    --main : #f12711;
    --txt1 : #f0f0f0;
    --txt2 : #0f0f0f;
    --bg1 : #ffffff;
    --bg2 : #7a7a7a;
}

body {
    color: var(--txt2);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    color: var(--main);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
    background: var(--bg1);
    border-bottom: 1px solid var(--bg2);
}

main {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    padding: 0 15%;
}

#menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 0;
    width: 15%;
    list-style: none;
    font-size: 1.2rem;
    background: none;
    color: var(--txt2);
    background: var(--bg1);
    list-style-position: outside;
    border-right: 1px solid var(--bg2);
}

#menu li {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all 0.25s ease;
    position: relative;
    z-index: 1;
}

#menu li::before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 100%;
    left: 0;
    background: linear-gradient(-72deg,#ffc864,#f12711);
    background-size: 120% 120%;
    transition: all 0.25s ease;
    z-index: 0;
}

#menu li:hover::before {
    width: 100%;
}

#menu a {
    padding: 5px 5px 5px 10px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    position: relative;
    transition: all 0.25s ease;
    background: #00000000;
}

#menu a:hover {
    font-weight: bold;
    color: var(--txt1);
}

.desc, #productList {
    width: 100%;
}

#appcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 85%;
    column-gap: 15px;
    color: var(--txt2);
    background: var(--bg1);
    overflow: scroll;
    margin: 10px;
    background: none;
}

#appcontent li::marker {
    font-family: monospace;
    font-weight: bold;
}

#appcontent li {
    list-style-type: " > ";
}

#appcontent ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    color: var(--txt2);
    width: 120px;
    background: var(--bg1);
    font-size: 0.6rem;
}

#author {
    width: 100%;
}

#extract {
    display: flex;
    flex-direction: column;
    background: var(--bg1);
    max-width: 20%;
    height: fit-content;
    text-align: center;
}

#extract * {
    margin: 5px
}

#extract input {
    border: 1px solid var(--main);
    padding: 5px;
    background: var(--bg1);
    border-radius: 5px;
    outline: none;
}

#extract button {
    border: 1px solid var(--main);
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    background: var(--bg1);
    transition: all 0.25s ease;
}

#extract button:hover {
    background: linear-gradient(-72deg,#ffc864,#f12711);
    background-size: 120% 120%;
    color: var(--txt1);
    font-weight: bold;
}

#extract button:hover::before {
    font-family: monospace;
    content: "> ";
}

#extract button:hover::after {
    font-family: monospace;
    content: " <";
}

#opinions {
    flex-direction: column;
    border: 1px solid;
    border-collapse: collapse;
}