:root {
    --main : #ff6400;
    --txt1 : #f0f0f0;
    --txt2 : #0f0f0f;
    --bg1 : #fafafa;
    --bg2 : #3a3a3a;
    --bg3 : #2a2a2a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-position: inside;
}

@font-face {
    font-family: Sansation;
    src: url("fonts/Sansation-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Sansation;
    src: url("fonts/Sansation-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: Sansation;
    background: var(--bg3);
    color: var(--txt1);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    color: var(--main);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

main {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

#menu {
    display: flex;
    flex-direction: column;
    min-width: 15vw;
    list-style: " | ";
    font-size: 1.1rem;
    background: var(--bg2);
    padding: 5px;
}

#menu li {
    margin: 5px 0;
}

#menu li::marker {
    font-family: monospace;
}

#menu li:hover {
    list-style-type: " > ";
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu li:hover {
    color: var(--main);
}

#appcontent {
    flex-grow: 1;
    padding: 15px;
    color: var(--txt2);
    background: var(--bg1);
    overflow: scroll;
}

#appcontent h4, #appcontent h2 {
    margin: 0 0 10px 0;
}

#appcontent p {
    margin: 0 0 10px 0;
}

#appcontent li::marker {
    font-family: monospace;
    font-weight: bold;
}

#appcontent li {
    list-style-type: " > ";
    margin: 0 0 5px 0;
}

#appcontent ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 0 5px 0;
}

footer {
    width: 100vw;
    text-align: right;
    bottom: 0;
    height: 1.2rem;
}

#extract {
    display: flex;
    flex-direction: column;
}

#extract * {
    max-width: 20%;
    margin: 0 0 10px 0;
}

#extract input {
    border: 1px solid var(--main);
    padding: 5px;
    background: var(--bg1);
    border-radius: 5px;
    outline: none;
}

#extract button {
    border: 1px solid var(--main);
    padding: 2px;
    background: var(--bg1);
    border-radius: 5px;
    cursor: pointer;
}

#extract button:hover::before {
    color: var(--main);
    content: "> ";
}

#extract button:hover::after {
    color: var(--main);
    content: " <";
}

#opinions {
    flex-direction: column;
    border: 1px solid;
    border-collapse: collapse;
}