{% extends 'base.html' %}
{% block title %} Pobieranie opinii o produkcie {% endblock %}
{% block content %}
    {% if error is defined %}
        <p id="extractErr">{{error}}</p>
    {% endif %}
    <form id="extract" action="{{url_for('extract')}}" method="post">
        <label for="product_id">Podaj kod produktu którego opinie chcesz pobrać</label>
        <input type="text" name="product_id" id="product_id" required placeholder="Kod produktu">
        <button type="submit">Pobierz opinię</button>
    </form>
{% endblock %}